@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Rufina:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-header: "Rufina", serif;
  --font-sans:
    "Kumbh Sans", sans-serif, ui-sans-serif, system-ui, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #8fb608;
  --color-default: #01002b;
  --color-danger: #db2f2e;
  --color-secondary: #c9e4e7;
}
